<div class="container d-flex justify-content-between">
  <div>
    <h1>
      <%= @the_board.name %>
    </h1>
  </div>
  <div>
    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Add new post
    </button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" >
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">New post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/insert_board" method="post">
          <div>
            <div class="d-grid pt-2">
              <label for="title_box">
                Title
              </label>
            </div>

            <div class="d-grid pt-2">
              <input type="text" id="title_box" name="query_title" class="form-control">
            </div>

            <div class="d-grid pt-2">
              <label for="title_box">
                Body
              </label>
            </div>

            <div class="d-grid pt-2">
              <textarea d="title_box" name="query_title" class="form-control" rows="3"></textarea>
            </div>

            <div class="d-grid pt-2">
              <label for="title_box">
                Expires on
              </label>
            </div>

            <div class="d-grid pt-2">
              <input type="date" id="title_box" name="query_title" class="form-control">
            </div>

            <div class="d-grid pt-3">
              <button class="btn btn-primary">
                Add post
              </button>
            </div>

          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<ul class="nav nav-tabs nav-fill mb-3" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="active-tab" data-bs-toggle="tab" data-bs-target="#active-tab-pane" type="button" role="tab" aria-controls="active-tab-pane" aria-selected="true">Active posts (20)</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="expired-tab" data-bs-toggle="tab" data-bs-target="#expired-tab-pane" type="button" role="tab" aria-controls="expired-tab-pane" aria-selected="false" tabindex="-1">Expired posts (22)</button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade active show" id="active-tab-pane" role="tabpanel" aria-labelledby="active-tab" tabindex="0">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <% @active_posts.each do |a_post| %>
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h1 class="h6 my-1"><%= a_post.title %></h1>

              <div>
                Expires on <%= a_post.expires_on.strftime("%b %e, %Y") %>
              </div>
            </div>

            <div class="card-body">
              <%= a_post.body %>
            </div>

            <div class="card-footer">
              Posted on <%= a_post.created_at.strftime("%b %e, %Y") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
<div class="tab-pane fade" id="expired-tab-pane" role="tabpanel" aria-labelledby="expired-tab" tabindex="0">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered">
          <tbody>
            <tr>
              <th>Title</th>
              <th>Body</th>
              <th>Posted on</th>
              <th>Expired on</th>
            </tr>
            <% @expired_posts.each do |a_post| %>
              <tr>
                <td><%= a_post.title %></td>
                <td><%= a_post.body %></td>
                <td><%= a_post.created_at.strftime("%b %e, %Y") %></td>
                <td><%= a_post.expires_on.strftime("%b %e, %Y") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
